/* ロゴのサイズ調整 */
.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 2rem !important;  /* 32px */
    width: auto !important;
}

/* フッターのソーシャルアイコンを大きく */
.md-social__link {
    transform: scale(1.5) !important;
}